@import "tailwindcss";
@import url("https://fonts.cdnfonts.com/css/horizon");

body {
  background-color: #000000;
  color: #ffbbd8;
  font-family: Verdana, sans-serif;
}

h1, h2, h3 {
  font-family: 'Horizon', sans-serif;
  letter-spacing: 1px;
}
